<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layauts/layaut}">
<head>
<meta charset="ISO-8859-1">
<title>Proveedores</title>
</head>
<body>
	<div layout:fragment="content">
		<form action="#" th:action="@{/proveedor/save}" class="form-group" th:object="${proveedor}" method="post">
			<h2>Alta de Proveedor</h2>
			<input type="hidden" th:field="*{id}"/>
			
			<div class="form-group">
				<label for="cuit">CUIT</label>
				<input type="text" class="form-control" id="cuit" th:field="*{cuit}" name="cuit">
			</div>
			<div class="form-group">
				<label for="razonSocial">Razon Social</label>
				<input type="text" class="form-control" id="razonSocial" th:field="*{razonSocial}" name="razonSocial">
			</div>
			<div class="form-group">
				<label for="domicilio">Domicilio</label>
				<input type="text" class="form-control" id="domicilio" th:field="*{domicilio}" name="domicilio">
			</div>
			<div class="form-group">
				<label for="telefono">Telefono</label>
				<input type="text" class="form-control" id="telefono" th:field="*{telefono}" name="telefono">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" th:field="*{email}" name="email">
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
			<a href="/proveedor/" class="btn btn-secondary">Volver</a>
		</form>
	</div>
</body>
</html>