<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layauts/layaut}">
<head>
	<meta charset="ISO-8859-1">
	<title>Proveedores</title>
</head>
<body>
	<div layout:fragment="content">
		<br>
		<h2 th:if="${proveedores.isEmpty()}">No hay proveedores</h2>
		<div th:if="${!proveedores.isEmpty()}">
			<h2>Proveedores</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>CUIT</th>
						<th>Razon Social</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="proveedor : ${proveedores}">
						<td th:text="${proveedor.id}">
						<td th:text="${proveedor.cuit}">
						<td th:text="${proveedor.razonSocial}">
						<td><a th:href="@{/producto/form/{id}/0(id=${proveedor.id})}" class="btn btn-success">Alta Producto</a></td>
						<td><a th:href="@{/proveedor/form/{id}(id=${proveedor.id})}" class="btn btn-primary">Editar</a></td>
						<td><a th:href="@{/proveedor/delete/{id}(id=${proveedor.id})}" class="btn btn-danger">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>