<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Proveedores</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a href="/proveedor/form/0" class="btn btn-primary">Nuevo</a>
		</div>
		<h2 th:if="${proveedores.isEmpty()}">No hay proveedores</h2>
		<div th:if="${!proveedores.isEmpty()}">
			<h2>Proveedores</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>CUIT</th>
						<th>Razon Social</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="proveedor : ${proveedores}">
						<td th:text="${proveedor.id}">
						<td th:text="${proveedor.cuit}">
						<td th:text="${proveedor.razonSocial}">
						<td><a th:href="@{/proveedor/form/{id}(id=${proveedor.id})}" class="btn btn-primary">Editar</a></td>
						<td><a th:href="@{/proveedor/delete/{id}(id=${proveedor.id})}" class="btn btn-danger">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>