<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layauts/layaut}">
<head>
	<meta charset="ISO-8859-1">
	<title>Productos</title>
</head>
<body>
	<div layout:fragment="content">
		<br>
		<h2 th:if="${productos.isEmpty()}">No hay productos</h2>
		<div th:if="${!productos.isEmpty()}">
			<h2>Productos</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${productos}">
						<td th:text="${producto.id}">
						<td th:text="${producto.nombre}">
						<td th:text="${producto.descripcion}">
						<td><a th:href="@{/producto/form/0/{id}(id=${producto.id})}" class="btn btn-primary">Editar</a></td>
						<td><a th:href="@{/producto/delete/{id}(id=${producto.id})}" class="btn btn-danger">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>